*{
    margin: 0;
    padding: 0;
  }
.main{
  width: 100%;
  .secTitle{
    .title{
      position: relative;
      width: max-content;
      color: blueviolet;
      margin:1rem 0;
      z-index: 2;

      &::after{
        position: absolute;
        content: '';
        background: pink;
        height: 5px;
        width: 120px;
        right: 0;
        bottom: 5px;
        z-index: -1;
      }
    }
  }
  .secContent{
    justify-content: center;
    gap: 1.5rem;

    .singleDestination{
      height: 100%;
      display: grid;
      row-gap: 10px;
      padding: 1rem;
      border-radius: 10px;
      align-items: center;
      background: yellow;
      box-shadow: 0.2px 4px rgba(140, 140, 141, 0.549);
      overflow: hidden;
      &:hover{
        background: grey;
        box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
        transition: .3s ease;
      }
      .imageDiv{
        height: 180px;
        width: 100%;
        overflow: hidden;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: 2s ease;
        }

        &:hover{
           img{
            transform: scale(1.1);
           }
        }
      }

      .cardInfo{
        padding: 1rem;
        .destTitle{
          color: blueviolet;
          font-size: 1.25rem;
        }
      }

      .desc{
        font-size: 13.5px;
        color:black;
        font-weight: 500;
      }

      .btn{
        margin-top: 1rem;
        color: blue;
        font-weight: 600;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .title{
    font-size: 1.5rem;
    &::after{
      width: 155px !important;
    }
  }

  .secContent{
    grid-template-columns: repeat(2,1fr);

    .singleDestination{
      height: auto;
    }
  }
}

@media screen and (min-width: 840px) {
  .secContent{
    grid-template-columns: repeat(3,1fr);

    .singleDestination{
      height: auto;
    }
  }
}